<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>Todo App</title>

  	<!-- Bootstrap -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  	
  	<!-- Styles -->
  	<link rel="stylesheet" href="css/styles.css">
  </head>

  <body>

    <header>
      <div class="container">
        <h1>Todo App</h1>
      </div>
    </header>

    <div class="container container-cell" ng-app="todoapp">
      <div id="todoapp" ng-controller="TodoCtrl">

        <!-- Tasks List -->
        <div ng-show="todos.length" class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2>Tasks</h2>
            <table class="table">
              <thead>
                <tr>
                  <th class="table-narrow">Status</th>
                  <th>Task</th>
                  <th class="table-narrow">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="todo in todos track by $index">
                  <td class="table-center"><input ng-change="updateTodo()" ng-model="todo.done" type="checkbox"></td>
                  <td><p>{{todo.task}}</p></td>
                  <td class="table-center"><a ng-click="removeTodo(todo)" href=""><i class="glyphicon glyphicon-remove"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Input Field -->
        <div class="row todo-input">
          <div class="col-md-8 col-md-offset-2">
            <div class="input-group input-group-lg">
              <span class="input-group-addon"><i class="glyphicon glyphicon-chevron-right"></i></span>
              <form ng-submit="addTodo()"><input ng-model="todoTask" type="text" class="form-control input-lg" placeholder="What needs to be done?" required></form>
              <span class="input-group-btn"><button ng-click="addTodo()" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></button></span>
            </div>
          </div>
        </div>

        <!-- Extra Controls -->
        <div ng-show="todos.length" class="controls row">
          <div class="col-md-8 col-md-offset-2">
            <p class="pull-left remaining-tasks">{{remaining()}} of {{todos.length}} tasks remaining</p>
            <button ng-click="removeCompletedTodos()" class="btn btn-danger pull-right">Remove Completed Items <i class="glyphicon glyphicon-trash"></i></button>
          </div>
        </div>
      
      </div><!--/ app -->  
    </div><!--/ container -->

    <footer>
      <div class="container">
        <p>Built using <a href="http://getbootstrap.com">Bootstrap</a> &amp; <a href="https://angularjs.org/">Angular.js</a>, by <a href="http://www.paulmcbride.net">Paul McBride</a>.</p>
      </div>
    </footer>

  	<!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<!-- Angular.js -->
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  	<!-- App Scripts -->
  	<script src="app/app.js"></script>
  	<script src="app/controllers/controller.js"></script>
  </body>
</html>